@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 14px;
}

a {
  color: #015C65;
  text-decoration: none;
}
a:hover,
a:focus {
  color: darken(#015C65, 30%);
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

textarea {
  font-family: Arial;
  padding: 10px 5px;
}

input[type="text"] {
  height: 36px;
  padding: 0 5px;
}

button + button {
  margin-left: 10px;

}

[data-react-toolbox="menu"] {
  top: 35px !important;
}

.top10 {
  margin-top: 10px;
}

.left10 {
  margin-left: 10px;
}

h3 {
  font-size: 18px;
}

.row {
  display: flex;
  flex-direction: row;

  .col + .col {
    margin-left: 15px;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
}

.grid-1-2 {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 40px;
}

.displayItem {
  ul {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
  }
}

.question, .addItem {
  border: 1px solid #ddd;
  padding: 10px;
}

.question {
  margin-bottom: 10px;
}