// @import "/node_modules/material-design-icons/iconfont/material-icons.css"; // TODO как добавить этот файл через css loader? чтоб 404 не было
// @import "~font-awesome/scss/font-awesome";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 14px;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type="text"] {
  height: 36px;
  padding: 0 5px;
}

.top10 {
  margin-top: 10px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.grid-1-2 {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 40px;
}

.authMenu {
  text-align: right;

  .userButton button {
    width: 180px;
  }

  .arrow {
    position: relative;
    top: 8px;
  }

  [data-react-toolbox="menu"] {
    top: 35px;
  }
}

.headerMenu {
  .item {
    padding: 0 10px;

    a {
      padding-top: 10px;
      display: inline-block;
    }
  }

}

.surveyList {
  padding-top: 20px;
}

.hoverInput {
  border: 1px solid transparent;
  background-color: transparent;

  &:hover {
    border: 1px solid #ddd;
  }
}

.editSurvey {
  .surveyName {
    padding-bottom: 20px;

    input[type="text"] {
      font-size: 18px;
    }
  }

  .questionTypesSelect {
    width: 250px;
  }

}

.displayItem {
  ul {
    padding-left: 0;
    list-style: none;
  }
}

.question, .addItem {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.addItem {
  background-color: #e0f9fe;
}

.questionText {
  width: 100%;
  box-sizing: border-box;
}

.checkboxQuestion {
  .theme--check {
    margin-top: 9px;
  }
}

.radioQuestion {
  .theme--radio {
    margin-top: 9px;
  }
}

.radioQuestion, .checkboxQuestion {
  input[type="text"] {
    margin-left: 5px;
  }
  .addItemButton {
    min-width: 50px;
  }
  .theme--field {
    display: inline-block;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.selectQuestion {
  .selectAddRow {
    width: 320px;
  }
  .addItemButton {
    min-width: 50px;
  }
}
