:root {
  --button-neutral-color: #dddddd !important;
  --menu-padding: 0 !important;
  --button-primary-color: #FF7800;
}

.button, .label {
  text-transform: none !important;
}

.button[disabled] {
  color: gray;
  background-color: #fafafa;
}

.menuInner .icon {
  color: gray;
}